.busca-container {
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.busca-container .search-bar-container {
    display: flex;
    width: 90vw;
    margin-top: 5vw;
}


.busca-container .search-bar {
    flex: 1;
    margin-right: 15px;
}

.busca-container .section-name {
    text-align: center;
}