.pedidos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.pedidos-container .pedidos {
    margin-bottom: 12vh;
}