.form-cadastro-container {
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-cadastro-container h1 {
    margin-top: 8vh;
}

.form-cadastro-container .description {
    text-align: center;
    width: 90vw;
}

#form-cadastro .form-field-container,
#form-cadastro .form-field {
    width: 90vw;
}

#form-cadastro .double-field-container {
    display: flex;
}

#form-cadastro .double-field {
    flex: 1;
}

#form-cadastro .submit-button {
    margin-top: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#login-div {
    margin-top: 30px;
    margin-bottom: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}