.busca-container {
    background: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.busca-container .card-link {
    color: inherit;
    text-decoration: inherit;
}

.busca-container .search-bar-container {
    display: flex;
    width: 90vw;
    margin-top: 5vw;
}

.busca-container .search-bar {
    flex: 1;
    margin-right: 15px;
}

.search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12vh;
}

.busca-container .section-name {
    text-align: center;
}