.form-login-container {
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form-login .form-field-container,
#form-login .form-field {
    width: 90vw;
}

#form-login .double-field-container {
    display: flex;
}

#form-login .double-field {
    flex: 1;
}

#form-login .submit-button {
    margin-top: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#register-div {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}